NODE_ENV=development
PORT=3100

ENGINE_BASE_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=auto-trading
DB_SSL=false

REDIS_HOST=127.0.0.1
REDIS_PORT=6379s

MARKETS=KRW-BTC,KRW-ETH
TF_LIST=1,5
POLL_INTERVAL_SEC=60
UPSERT_BATCH_SIZE=500

API_BASE_URL=http://127.0.0.1:3100
IDEMPOTENCY_PREFIX=collector-rest

GEMINI_API_KEY=gemini-api-key